@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.main__chatcontent {
  flex-grow: 1;
  max-width: 100%;
  width: 65%;
  border-right: 1px solid #ebe7fb;
  background: #FFFFFF;

}
.dropend  .dropdown-menu{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
  line-height: 40px;
  margin: 0 0 0 25px;
  padding: 25px 25px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: table;
  margin: 15px auto 10px auto;
}

.btnRes {
  border: none;
  background-color: white;
  padding: 8px 20px;
  font-size: 12px;
  background: #F1F1F1;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  color: #808080;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px auto;
  border-radius: 4px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-btn-wrapper-res input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.dropend  .dropdown-menu a{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #808080;
  width: 179px;
  line-height: unset;
  padding: 5px 0px 0px 18px;
  height: 47.95px;
}
.dropend  .dropdown-menu a:hover{
  background: rgba(118, 118, 128, 0.12);
border-radius: 4px;
}
.OrderDropDown{
  display: flex;
}
.dropend  .dropdown-menu svg{margin: 0px 0px 14px 18px;}
.model_alert{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.model_alert-res1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.model_alert-res{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.model_alert-res .modal-body{
  width: 73%;
  text-align: center;
  display: table;
  margin: auto;
}
.model_alert-resCancel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.model_alert-resCancel .modal-body{
  width: 73%;
  text-align: center;
  display: table;
  margin: auto;
}
.model_alert-res1 .modal-title.h4{
  text-align: center;
}
.model_alert-res1 .modal-body p{
  text-align: center;
  margin-bottom: 20px;
}
.modal-body svg{
  margin: -7px 12px;
}
.model_alert-res1 .btn.btn-secondary{
  width: 106px;
  height: 43.87px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.model_alert-res1 .btn.btn-primary{
  width: 116px;
  height: 51.87px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.supportRS{
  display: flex;
  justify-content: flex-end;
}
.restrictedSupport{
  border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 100px;
    width: 37%;
    font-size: 0.8rem;
    color: #FF0000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.flaggedRs{
  display: flex;
  justify-content: flex-end;
}
.flagS{
  margin: 2px 19px 20px 5px;
}
.mImg{ 
  width: 100px;
  height: 100px;
}
.mImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.messageRelated{
  display: flex;
}
.relatedText{
  margin-left: 15px;
}
.mrTo h3{
  font-size: 1rem;
  color: #000;
  margin-bottom: 20px;
}
.mrTo{
    margin-left: 30px;
    padding: 15px;
    border: 2px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 10px;
    width: 73%;
    margin-bottom: 20px;
}
.relatedText h2{
  font-size: 1.1rem;
  font-weight: 700;
}
.mrTo h4{
  font-size: 1rem;
  color: rgb(112, 112, 112);
}
.flaggedService span
{ 
  position: absolute;
  bottom: -22px;
  left: 0px;
}
.flaggedService{
  width: 46%;
  font-size: 0.8rem;
  color: #0C0B0B;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 16px;
  margin-right: 40px;
  margin-bottom: 30px;
  background: #F0DDDD;
  border: 2px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  top: -37px;
}
/* .model_alert-res1 .modal-body{
  width: 73%;
  text-align: center;
  display: table;
  margin: auto;
} */
.modal-title.h4{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #33383F;
}
.modal-body p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  margin-bottom: 35px;
}
.model_alert-res1 p{
  margin-bottom: 7px;
}
.modal-body textarea{
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  width: 100%;
  height: 212px;
  font-size: 12px;
  padding: 35px
}
.modal-footer{
  margin: 0 auto;
  display: table;
}
.sendNewMessageOrderFix button{
  background-color: white !important;
}
.modal-footer .btn.btn-secondary{
  background: #fff;
  border: 1px solid #F1F1F1 !important;
  border-radius: 4px;
  font-size: 12px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
  border: none;
  text-align: center;
  color: #808080;
  height: 40px;
  margin: 5px 5px 10px 5px;
  width: 135px;
}
.modal-footer .btn.btn-primary{
  background: #E16F26 ;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  font-size: 12px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
  border: none;
  text-align: center;
  height: 40px;
  margin: 5px 5px 10px 5px;
  width: 135px;
}
.dispute-resCoo .btn.btn-primary{
  background: #E16F26 !important;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  border: none;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  margin: 12px 5px 10px 5px;
  width: 170px;
}
.thisMessage{
  position: relative;
}
.mrTo{
  position: relative;
}
.thisMessage span {
  position: absolute;
  bottom: -21px;
  font-size: 0.8rem;
  right: 0px;
}
.relatedText p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  color: #808080;
  margin: 45px 0px 0px 0px;
  display: block;
  width: auto;
  text-align: left;
}

.dispute-resCancel{    padding-right: 0 !important;    width: 21% !important;}
.dispute-resCancel .btn.btn-primary{
  background: #E16F26 ;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  border: none;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  height: 35px;
  margin: 12px 5px 10px 5px;
  width: 100px;
}

.fade.model_alert.modal.show{
  display: block;
  padding-right: 21px;
  width: 68%;
  padding: 58px;
  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
}
.fade.model_alert-res1.modal.show{
  display: block;
  width: 45%;
  padding: 0;
  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
}
.model_alert-res .modal-title.h4{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #33383F;
  margin: 33px 0 0 0;
}
.fade.model_alert-res.modal.show{
  display: block;
  padding-right: 21px;
  width: 26%;
  padding: 33px 0px 0px 0px;
  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
}
.dispute-resCoo .modal-body{
  width: 100%;
}
.dispute-resCoo .modal-body p{
  margin-bottom: 0;
  margin-top: 12px;
}
.dispute-resCoo .modal-footer{
  padding: .0rem .75rem .75rem .75rem;
}
.dispute-resCancel .modal-body{
  width: 100%;
}
.dispute-resCancel .modal-body p{
  margin-bottom: 0;
  margin-top: 12px;
}
.dispute-resCancel .modal-footer{
  padding: .0rem .75rem .75rem .75rem;
}
.main__chatcontent_orderFix {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  /* border-right: 1px solid #ebe7fb; */
  border: 1px solid #F1F1F1;
  position: relative;
}
.content__header {
  padding-bottom: 0px;
  border-bottom: 1px solid #ebe7fb;
}
.content__header-res {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}

.content__header-res .settings {
  position: relative;
}
.ordcht .btn-Chat  a{
  text-decoration: none;
  color: #fff;
  z-index:1;
}
.ordcht .btn-Order a{
  text-decoration: none;
  color: #878585;
  z-index:1;

}

.ordcht .btn-Order{ 
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #fff ;
  border: 2px solid #878585 ;
  box-sizing: border-box;
  border-radius: 50px;
  color:#878585;
  padding: 8px;
  width: 110px;
  position: absolute;
  margin-left: 81px;
}
.ordcht .btn-Chat {
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #878585;
  border: 2px solid #E16F26;
  box-sizing: border-box;
  border-radius: 50px;
  background: #E16F26;
  padding: 8px;
  width: 110px;
  position: absolute;
}
.ordfix  .btn-Chat  a{
  text-decoration: none;
  color: #878585;
  z-index:1;
}
.ordfix .btn-Order a{
 text-decoration: none;
 color: #fff;
 z-index:1;

}
.ordfix .btn-Order{ 
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid #E16F26 ;
  box-sizing: border-box;
  border-radius: 50px;
  color:#fff !important;
  background: #E16F26;
  padding: 8px;
  width: 110px;
  position: absolute;
  margin-left: 81px;
}
.ordfix .btn-Chat {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color:#878585;
  border: 2px solid #878585 ;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px;
  width: 110px;
  position: absolute;
}
.BoxRes
{
  width: 146px;
  height: 146px;
  right: 1225px;
  top: calc(50% - 146px/2 - 230.5px);
  background: #1CC88A;
  border-radius: 8px;
  margin-left: 35px;
}
.normalText{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.408px;
  color: #1E262F;
}
.grayText{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.blackText{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
color: #1E262F;

}
.Tboy25{
  display: flex;
}
.Tboy25 p{
  font-size: 10px;
  margin: 5px 0 0 6px;
}
.dayCalender{
  display: flex;
  margin-left: 25px
}
.iconDiv{display: flex;}
.dayCalender p{
  color: #808080;
  font-size: 8px;
  margin: 8px 0 0 6px;
}
.infoTec{
  padding: 37px 40px 37px 6px !important;
}
.requirementRes{
  background: #FFFFFF;
  border: 0.5px solid rgb(0 0 0 / 37%);
  box-sizing: border-box;
  border-radius: 8px;
  width: 85%;
  margin: 10px 50px;
}
.requirementInput{
  border: none;
  width: 93%;
  margin: 10px 24px 24px 24px;
  font-size: 12px;
  border-bottom: 1px solid #00000063;
  padding: 16px;
}
.reqP.a{
  margin: 32px 0 0 36px;
}
.percentageInput{
  width: 327px;
  height: 40px;
  left: 692px;
  top: 976.04px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  margin: 10px 54px;
  padding: 16px;
}
.per{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 17px 10px;
  color: #1E262F;
}
.mileR{    
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #808080;
  width: 210px;
  margin: 12px;
}
.release-Btn{
  font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.592px;
    background: #E16F26;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    padding: 9px;
    margin: 9px auto;
    width: 40%
}
.extra-res{
  display: flex;
    justify-content: center;
}
.ex-res p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #33383F;
  text-align: left !important;
  margin-left: 15px;
  margin-bottom: 12px !important;
  margin-top: 12px;
}
.model_alert-res1.e .modal-title.h4{
  text-align: center;
  margin: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
  color: #33383F;
}
.model_alert-res1.e .model_alert-res1.e  .modal-body{
  padding: 0rem 1rem 1rem 1rem !important;
}
.flexAndSpaceBetween{
  display: flex;
  justify-content: space-between;
}
.flexAndSpaceBetween p{
  margin-bottom: 0px;
  line-height: 10px;
}
.model_alert-res1.offer span{
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  color: #A2A2A2;
}

.model_alert-res1.offer button{
  font-size: 14px;
    width: 100%;
    background: #F27415;
    border-radius: 4px;
    color: #fff;
    border: none;
    margin: 10px 0 5px 0px;
    padding: 7px;
}
.extrasBlock{
  border: 3px solid #F1F1F1 !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
    width: 295px !important;
    margin-left: auto;
    margin-right: 38px;
}
.dayFast p{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 11px !important;
  line-height: 16px !important;
  color: #363333 !important;
  width: 120px !important;
  margin: 12px !important;
}
.acceptOffer{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 11px !important; 
  line-height: 16px !important;
  color: #363333 !important;
  margin: 12px !important;

  text-align: center;
  display: flex;
  width: 446px;
  align-items: center;
  justify-content: center;
  background: #1CC88A;
  border-radius: 10px;
  color: #fff !important;

}
.extrasBlock div{
  display: flex !important;
    justify-content: space-between !important ;
}
.extrasP{
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #363333 !important;
  width: 52px !important;
  margin: 12px 12px 0px 12px !important;
}
.model_alert-res1.e  textarea{
  background: rgba(118, 118, 128, 0.12) !important;
  border-radius: 4px;
  text-align: left;
  text-align: center;
}
.model_alert-res1.offer .modal-content{
  padding: 0px 12px !important;
}
.fade.model_alert-res1.modal.show.offer{
  width: 23%;
  padding-right: 0px;
}
.payR{
  color: #000 !important;
}
.payExtra{
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 33px !important;
  color: #33383F !important;
  text-align: left !important;
  margin-top: 25px !important;
}
.model_alert-res1.e .offering{
  text-align: left;
  color: #33383F;
}
.ex-res input{
  width: 155px;
  height: 39.87px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 4px;
  font-size: 12px;
  border: none;
  padding: 20px;
  margin: 5px;
}
.modal-footer .btn.btn-secondary.b{
    width: 100px;
}
.modal-footer .btn.btn-primary.b{
    width: 160px;
}
.milestoneP{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  margin-left: 36px;
}
.upload-btn-wrapper-res {
  position: relative;
  overflow: hidden;
  display: table;
  margin: 0px 10px 9px 19px;
}
.btn-Res {
  border: none;
  background-color: white;
  padding: 8px 20px;
  font-size: 12px;
  background: #fff;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  color: #808080;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px auto;
  border-radius: 4px;
}
.attachmentRes{
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #1E262F;
  margin: 0 0 0 25px;
}
.reqP{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #1E262F;
  margin-left: 35px;
}
.borderBottom{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.47);
}
.extrasRes{
  letter-spacing: -0.408px;
  color: #1E262F;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 37px;
}
.blk-res{
  position: absolute;
  top: 28%;
  left: 34%;
  transform: translate(-50%, -41%);
}
.btn-active {
  background: #E16F26 !important;
  border: 2px solid #E16F26 !important;
  margin-left: 0 !important;
  color: white !important;
  z-index: 2;
  width: 110px ​!important;
}
.content__create button {
  background: #1CC88A;
  height: 47px;
  width: 100%;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  border: none;
}
.content__create-res button{
  background: #1CC88A;
  height: 60px;
  width: 100%;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  border: none;
}
.current-chatting-user {
  display: flex;
  flex-direction: column;
  line-height: 0.5;
  justify-content: flex-end;
}
.selectOrderCreate{
  display: flex;
}
.selectOrderCreate select{
  margin: 10px;
}
.model_alert.z{
  width: 33% !important;
}
.model_alert.z .modal-title.h4{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #363333;
}
.model_alert.z .modal-body{
  padding: 0 !important;
}
.model_alert.z input{
  margin: 10px;
  width: 96%;
  color: #000;
}
.online-circle-div{
  display: flex;
    line-height: 0.5;
    align-items: flex-start;
    margin: 0px 23px;
}
.online-circle{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin: 0 13px;
  background: #1CC88A;
}
.customerOffer {
  width: 50%;
  margin-right: 40px;
  float: right;
}
.customOrderDiv{
  width: 65%;
  margin-left: 10px;
}
.customOrderDiv p{
  font-size: 12px !important;
    margin: 0px 0 !important;
}
.customerOffer button{
  font-weight: 700;
  user-select: auto;
  background-color: #E16F26;
  border: navajowhite;
  color: white;
  width: 100%;
  font-size: 0.9rem;
  height: 40px;
}

.offer01{
  background: rgba(134, 134, 134, 0.1);
  border: 3px solid rgba(241, 241, 241, 0.5);
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  display: flex;
}
.customOrderDiv h3{
  font-size: 1rem;
  color: #8d8c8c;
  font-weight: 700;
  margin-top: 13px;
}
.customerOffer img{
  /* width: 78px; */
  margin: 10px;
}
.customOrderDiv h4{
  font-size: 0.8rem;
  color: #16191B;
}
.customOrderDiv div{
  display: flex ;
}
.current-chatting-user h5 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 37.5px;
}

.content__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__header-res {
  display: flex;
  justify-content: flex-start;
  padding: 5px 22px;
  position: relative;
}
.dispute-res{
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 35%;
  height: 50px;
  margin: 63px auto 21px auto;
  align-items: center
}
.document-res{
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  margin: 20px 37px;
  width: 35%;
  height: 281px;
  align-items: center;
  background: #F6F6F6;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 10px;
}
.document-res svg{
  position: relative;
  bottom: 43px;
  left: 40px;
}
.markAsComplete{
  display: table;
  margin: 0 auto;
}
.whiteBtn{
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  height: 44px;
  width: 140px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #808080;
  margin: 15px 10px;
}
svg{
  background-color:none !important;
}
.OrangeBtn{
  background: #E16F26;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
  height: 44px;
  width: 140px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #fff;
}
.document-res span{
  display: flex;
  height: 100%;
  justify-content: center;
  background: linear-gradient(0deg, #16191B 7.03%, rgba(30, 38, 47, 0) 40.63%);
border: 1px solid #F1F1F1;
box-sizing: border-box;
border-radius: 0px 0px 8px 8px
}
.document-res p{
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  text-align: left !important;
  line-height: 33px !important;
  color: #E16F26 !important;
  margin: 0 0 0 22px !important;
  display: inline !important;
  width: auto !important;
}
.dispute-res span{
  display: flex;
  padding: 8px;
  justify-content: center;
}
.dispute-res p{
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  text-align: left !important;
  line-height: 33px !important;
  color: #E16F26 !important;
  margin: 0 0 0 22px !important;
  display: inline !important;
  width: auto !important;
}
.dispute-res svg{
  margin: 3px 0 0 0;
}



.modification-res{
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 46%;
  font-size: 12px;
  height: 60px;
  margin: 35px auto 20px auto;
  align-items: center;
}
.modification-res span{
  display: flex;
  padding: 12px 30px;
  justify-content: center;
}

.modification-res svg{
  margin: 3px 0 0 0;
}
.modi-res{
  margin-left: 13px;
}

.cancell-res{
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 100%;
  font-size: 12px;
  height: 57px;
  margin: 172px auto 36px auto;
  align-items: center;
}
.cancell-res.a{
  background: rgba(196, 196, 196, 0.2);
    border-radius: 100px;
    width: 63%;
    font-size: 12px;
    height: 57px;
    margin: 71px auto 18px auto;
    align-items: center;
}
.cancell-res span{
  display: flex;
  padding: 12px 30px;
  justify-content: center;
}

.cancell-res svg{
  margin: 3px 0 0 0;
}

.cancelled-res{
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 46%;
  font-size: 12px;
  height: 60px;
  margin: -24px auto 36px auto;
  align-items: center;
}
.cancelled span{
  display: flex;
  padding: 12px 30px;
  justify-content: center;
}
.cancell-res.ed{
  margin: -17px auto 36px auto !important;
}as
.primaryDispute{
  background: #E16F26 !important;
  border-radius: 4px !important;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  font-size: 12px !important;
  line-height: 13px ;
  font-style: normal;
  font-weight: normal;
  border: none;
  text-align: center;
  height: 40px;
  margin: 5px 5px 10px 5px;
  width: 135px;
}
.reqCancelled{
  margin: 110px auto 0 auto;
}
.cancelled svg{
  margin: 3px 0 0 0;
}
.can-res{
  margin-left: 13px;
}
.content__body-res{
  max-height: calc(108vh - calc(112vh / 2));
  overflow: auto;
}
.content__header_left {
  display: flex;
  height: 67px;
  align-items: flex-end;
}
.content__header_left .blocks{
  width: 100%;
}
.settings .btn-nobg {
  color: #000;
}
.content__body {
  max-height: calc(110vh - calc(114vh / 2));
  overflow: auto;
}
.content__body p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #808080;
  margin: 38px 0;
  text-align: center;
  display: flex;
  width: 445px;
}
.content__body-res p{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #808080;
  margin: 65px 0;
  text-align: center;
  display: flex;
  width: 446px;
}
.content__body center .content__body_Res{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 10;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__body-res center .content__body_Res{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}
.online-circle-div-res{
  display: flex;
  line-height: 0.5;
}
.online-circle-Res {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin-right: 11px;
  background: #1CC88A;
}
.online-circle-div-res p{
  font-size: 12px;
  margin-top: 4px;
}
 .content__body_Res svg{
  margin-right: 20px;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 40px 40px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat__item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}
.chat__item__content {
  color: #fff;
  padding: 15px;
  max-width: 50%;
  position: relative;
  min-width: 215px;
  background: rgba(196, 196, 196, 0.05);
border: 2px solid #F1F1F1;
box-sizing: border-box;
border-radius: 10px;
}
.chat__item__content .chat__meta {
  position: relative;
  top: 40px;
  left: -15px;
}
.chat__item__content .chat__meta span {
  font-size: 12px;
  color: #808080;
  user-select: none;
}
.chat__msg {
  user-select: none;
  font-size: 12px;
line-height: 22px;

color: #0C0B0B;
}

.chat__item.other {
  flex-direction: row-reverse;
  transform-origin: left;
}
.chat__item.other .chat__item__content {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 10px;
  max-width: 55%;
}
.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle,
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle{
      background-color: white!important;
     border-color: white!important;
}
.fade.model_alert.modal.show {
  display: block;
  padding-right: 0px;
  width: 47%;
  padding: 0;
  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding-right:0 !important;
}
.rating-res{
  margin-top: 10px;
  margin-bottom: 30px;
}
.ratingAlert span{
  background: #FFAD08;
  border-radius: 8px;
  color: white;
  padding: 9px 18px;
  height: 35px;
}
.ratingAlert div{
  margin-left: 3px;
  max-width: 81%;
  min-width: 173px;
  overflow-wrap: break-word;
}
.ratingAlert{
  margin-left: auto !important;
  display: flex;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 0.25px 1px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  margin: 10px 40px 10px 10px;
  font-size: 12px;
  max-width: 50%;
  align-items: center;
}
.ratingAlert svg{
  width: 22px;
  height: 13px;
  margin-bottom: 3px;
}
.rating-res svg{
  width:26px !important;
  height: 23px !important;

}
.modal-header{
  border-bottom: none !important;
}
.modal-footer{
  border-top:none !important;
}
.modal-content{
  border: none !important;
  padding: 6px 45px !important;
}
.model_alert.z .primaryDispute{
  background: #1CC88A;
border: 3px solid #1CC88A;
box-sizing: border-box;
border-radius: 5px;
}
.model_alert.z .modal-content{
  border: none !important;
  padding: 4px 20px !important;
}
.modal-dialog {
  max-width: 100%;
  margin: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0;
  pointer-events: none;
}
.model_alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 150px 0; */
}
.modal{
  overflow-x: clip;
  overflow-y: clip;
  height: auto;
}

.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.chat__item.other .chat__item__content .chat__meta span {
  color: #808080;
}
.content__footer {
  padding-top: 15px;
}
.sendNewMessage {
  background-color: #fff;
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-between;
  padding: 8px 3px 10px 2px;
}
.sendNewMessageOrderFix {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.sendNewMessageOrderFix_Res{
  background-color: #fff;
  border: 1px solid #F1F1F1;
  padding: 10px 10px 0px 10px;
}
.dispute-resCancel .modal-content {
  border: none !important;
  padding: 2px 9px !important
}
.sendNewMessageOrderFix_Res button {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  border-radius: 5px;
  margin: 0px 0px 0px 9px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessageOrderFix_Res button:hover {
  transform: scale(1.2);
}
.sendNewMessageOrderFix_Res button i {
  display: block;
}
.sendNewMessageOrderFix_Res input {
  flex-grow: 1;
  padding: 8px 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(241, 241, 241, 0.5);
  box-sizing: border-box;
  background: #FFFFFF;
  font-size: 12px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  border-radius: 5px;
  margin: 18px 15px;  
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 6px 17px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(241, 241, 241, 0.5);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
#sendMsgBtn {
  background-color: #fff;
    color: #E16F26;
    font-weight: 500;
    font-size: 16px;
    margin: 16px 22px;
    line-height: 12px;
    text-align: center;
}
.cancelWhiteBtn{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  color: #808080 !important;
  height: 35px !important;
  line-height: 13px !important;
  text-align: center !important;
  margin: 12px 5px 10px 22px !important;
  width: 80px !important;
  background-color: #FFF !important;
  border: 1px solid #F1F1F1 !important;
  border-radius: 4px !important;
}
.cancelOrangeBtn{
  background: #E16F26 !important;
  border-radius: 4px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  border: none !important;
  line-height: 13px !important;
  text-align: center !important;
  color: #FFFFFF !important;
  height: 35px !important;
  margin: 12px 5px 10px 5px !important;
  width: 120px !important;
}
.mobileBlock-e{
  display: none;
}
.screenBlock-e{
  display: flex;
}
@media (min-width:0px) and (max-width:767px){

  .customerOffer {
    width: 93%;
    margin-right: 20px;
    float: right;
  }
  .customerOffer img {
    width: 78px;
    margin: 8px;
}
.customOrderDiv h3 {
  font-size: 0.8rem;
  color: #8d8c8c;
  font-weight: 700;
  margin-top: 12px;
}
.customOrderDiv h4 {
  font-size: 0.7rem;
  color: #16191B;
}
.customerOffer button {
  font-weight: 700;
  -webkit-user-select: auto;
  user-select: auto;
  background-color: #E16F26;
  border: navajowhite;
  color: white;
  width: 100%;
  font-size: 0.8rem;
  height: 30px;
}

.ordcht .btn-Order {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  border: 2px solid #878585;
  box-sizing: border-box;
  border-radius: 50px;
  color: #878585;
  padding: 5px;
  width: 92px;
  position: absolute;
  margin-left: 66px;
}
.model_alert.z{
  width: 92% !important;
}
.model_alert.z .modal-title.h4{
  font-size: 16px !important;
  line-height: 4px !important;
}
.model_alert.z input {
  margin: 10px;
  width: 96%;
  color: #000 !important;
  font-size: 0.7rem;
}
.model_alert.z .modal-footer{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.model_alert.z select {
  font-size: 0.7rem;
}
.ordcht .btn-Chat {
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #878585;
  border: 2px solid #E16F26;
  box-sizing: border-box;
  border-radius: 50px;
  background: #E16F26;
  padding: 5px;
  width: 80px;
  margin-left: 10px;
  position: absolute;
}
.ordfix .btn-Chat {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #878585;
  border: 2px solid #878585;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 5px;
  margin-left: 10px;
  width: 80px;
  position: absolute;
}
.ordfix .btn-Order {
  z-index: 1;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
border: 2px solid #E16F26;
box-sizing: border-box;
border-radius: 50px;
color: #fff !important;
background: #E16F26;
padding: 5px;
width: 91px;
position: absolute;
margin-left: 68px;
}
.current-chatting-user h5 {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 28.5px;
  text-align: center;
}
.online-circle-div p {
  margin-top: 4px;
  font-size: 12px;
}
.infoTec {
  padding: 37px 0px 37px 0px !important;
}
.infoTec.row .col-3, .infoTec.row .col-4 ,.infoTec.row .col-1,.infoTec.row .col-2{
  /* display: block; */
  /* width: 100%;  */
}
.requirementRes {
  width: 100%;
  margin: 0;
}
.amountDelivery{
  display: flex;
}
.requirementInput {
  width: 80%;
  font-size: 12px;
}
.percentageInput {
  width: 85%;
  font-size: 12px;
  margin: 0 16px;
}
/* .BoxRes {
  width: 100%;
  height: 35px;
  margin-left: 0px;
}
.normalText {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.408px;
  color: #1E262F;
}
.zela{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
} */
.normalText {
  margin-bottom: 4px;
}
.BoxRes {
  margin-left: 0px;
  height: 72px;
  width: 100%;
  right: 1225px;
  top: calc(50% - 146px/2 - 230.5px);
  background: #1CC88A;
  border-radius: 8px;
}
.mobileBlock-e{
  display: flex;
}
.screenBlock-e{
  display: none;
}
.content__body-res center .content__body_Res {
  font-size: 12px;
  line-height: 1;
  margin-top: 19px;
  display: block;
}
.dropend .dropdown-menu {
  padding: 16px 0px;
}
.fade.model_alert-res1.modal.show {
  width: 94%;
}
.modal-content {
  border: none !important;
  padding: 7px 0px !important;
}
.modal-body textarea {
  width: 100%;
  height: 100px;
  padding: 16px;
}
.modal-footer .btn.btn-primary {
  height: 30px;
}
.modal-footer .btn.btn-secondary {
  height: 30px;
}
.offer .modal-dialog {
  margin: 0;
  margin-top: 0rem;
  margin-bottom: 0;
}
.fade.model_alert-res1.modal.show.offer {
  width: 94%;
  padding-right: 0px;
}
.payExtra {
  font-size: 18px !important;
  line-height: 18px !important;
  margin-top: 21px !important;
}
.document-res {
  margin: 20px 37px;
  width: 38%;
  height: 86px;
}
.whiteBtn {
  height: 26px;
  width: 128px;
  font-size: 10px;
  line-height: 13px;
  margin: 15px 10px;
}
.OrangeBtn {
  height: 27px;
  width: 126px;
  font-size: 10px;
  line-height: 13px;
}
.content__body-res p {
  font-size: 18px;
  width: 85px;
}
.extrasBlock {
  border: 3px solid #F1F1F1 !important;
  box-sizing: border-box !important;
  border-radius: 20px !important;
  margin: 20px;
  width: auto !important;
}
.modification-res {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 93%;
  font-size: 10px;
  height: 46px;
  margin: 35px auto 20px auto;
  align-items: center;
}
.cancell-res.a {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 100px;
  width: 94%;
  font-size: 10px;
  height: 43px;
  margin: 43px auto 18px auto;
  align-items: center;
}
.dispute-resCancel {
  padding-right: 0 !important;
  width: 90% !important;
}
.fade.model_alert-res.modal.show {
  padding: 0px 0px 0px 0px;
  background: #fff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 15%);
  border-radius: 22px;
}
.cancell-res span {
  display: flex;
  padding: 6px 30px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}
.fade.model_alert.modal.show {
  width: 93%;
  border-radius: 22px;

}
.fade.model_alert-res.modal.show {
  width: 61%;
  border-radius: 8px;
}
.dispute-res {
  width: 92%;
}
.dispute-res {
  width: 92%;
  height: 44px;
  margin: 52px auto 21px auto;
  align-items: center;
}
.dispute-res span {
  display: flex;
  padding: 6px;
  justify-content: center;
}
.restrictedSupport {
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 100px;
  width: 80%;
  font-size: 0.7rem;
  color: #FF0000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.flaggedService {
  width: 80%;
  font-size: 0.7rem;
  color: #0C0B0B;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  background: #F0DDDD;
  border: 2px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 10px;
}
.mrTo {
  /* margin-left: 21px; */
  padding: 14px;
  border: 2px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 10px;
  width: 87%;
  margin-bottom: 20px;
}
.mrTo h3 {
  font-size: 0.7rem;
  color: #000;
  margin-bottom: 20px;
}
.mrTo h4 {
  font-size: 0.7rem;
}
.relatedText h2 {
  font-size: 0.9rem;
  font-weight: 700;
}
.relatedText {
  margin-left: 6px;
}
.relatedText p{
  text-align: left;
}
.mImg {
  width: 87px;
  height: 68px;
}
.thisMessage{
display: flex;
justify-content: flex-end;
margin-right: 20px;
}
.thisMessage span {
  position: absolute;
  bottom: -20px;
  font-size: 0.6rem;
  right: 0px;
}
}